@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Inter:wght@100..900&display=swap');

@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply antialiased text-ayurveda-green bg-ayurveda-light font-sans;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-serif;
  }
}

@layer components {
  .premium-gradient-tech {
    background: linear-gradient(135deg, #1a2a6c 0%, #b21f1f 50%, #fdbb2d 100%);
    background-size: 200% 200%;
    animation: gradientShift 15s ease infinite;
  }

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}